doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title BMI計算機
    link(rel="stylesheet" href="css/all.css")
  body 
    header
      .container 
        .logo 
          img(src="https://upload.cc/i1/2021/08/03/5m4SPU.png" alt="logo")
        .personal_info
          label(for="height")  身高cm 
          input#height(type="number" )
          label(for="weight")  體重kg
          input#weight(type="number" )
        .result
          //- button.detail.bgColorG 
          //-   .showBMI 
          //-     .BMI_num 20.51
          //-     .BMI BMI
          //-     .restart  
          //-       img(src="https://upload.cc/i1/2021/07/29/YynqD8.png" alt="")
          //-     .BMI_level 理想
          button.send 看結果
    .content 
      .container
        .localData 
          h2.title BMI記錄
          button.clear 全部清除
          ul.list
            li.bdrColorG 
              h3 理想
              p BMI
                span 000
              p 體重
                span 000
              p 身高
                span 000
              p 2021-10-19
              button 刪除
    footer
      .container
        .logo_footer
          img(src="https://upload.cc/i1/2021/08/07/s4GvXC.png" alt="") 

    script(src="js/main.js" defer) 